name: Build LaTex sources.

on: 
  push:
  pull_request:
  workflow_dispatch:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
        default: main

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y --no-install-recommends \
             python3-yaml \
             texlive \
             texlive-fonts-extra \
             texlive-latex-extra \
             texlive-luatex \
             texlive-pictures \
             texlive-plain-generic \
             texlive-pstricks \
             texlive-science \
             latexmk \
             ghostscript \
             poppler-utils

      - name: Run build script
        run: |
          chmod +x .github/scripts/build_slides.sh
          .github/scripts/build_slides.sh

      - name: Upload .pdf File
        uses: actions/upload-artifact@v4
        with:
          name: Slides
          path: |
            slides/*.pdf

  link:
    runs-on: ubuntu-latest
    needs: build # make sure the artifacts are uploaded first
    permissions:
        contents: write # for commenting on your commit
        pull-requests: write # for commenting on your pr
    steps:
      - uses: beni69/artifact-link@v1
        with:
          token: ${{ github.token }}
